{% extends 'libros/base.html' %}

{% block content %}
  <h2>{{ libro.titulo }}</h2>
  <p><strong>Autor:</strong> {{ libro.autor }}</p>
  <p><strong>Sinopsis:</strong> {{ libro.sinopsis }}</p>

  <h3>Archivos:</h3>
  {% if documentos %}
    <ul>
      {% for doc in documentos %}
<li>
    <a href="{{ doc.archivo.url }}" target="_blank">{{ doc.archivo.name|slice:"-20:" }}</a>
    <a href="{% url 'document_delete' doc.pk %}" onclick="return confirm('¿Seguro que quieres borrar este archivo?');">Eliminar</a>
</li>
{% endfor %}

    </ul>
  {% else %}
    <p>No hay archivos para este libro.</p>
  {% endif %}
{% endblock %}
