{% extends 'libros/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <div class="pagina">Libros Disponibles</div>

  {% if libros %}
  <table class="libros-table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for b in libros %}
        <tr>
          <td class="primer">
            <a href="{% url 'book_detail' b.pk %}" class="book-link">{{ b.titulo }}</a>
          </td>
          <td>{{ b.autor }}</td>
          <td>
            <a href="{% url 'book_edit' b.pk %}" class="edit-icon"><i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="{% url 'book_delete' b.pk %}" class="delete-icon" onclick="return confirm('¿Seguro que quieres borrar este libro?');"><i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No hay libros disponibles.</p>
{% endif %}

{% endblock %}
