{% extends 'libros/base.html' %}
{% block content %}
  <h2>Libros</h2>
  <ul>
    {% for b in libros %}
      <li>
        <a href="{% url 'book_detail' b.pk %}">{{ b.titulo }}</a> — {{ b.autor }}
        {% if b.documents.all %}
          <ul>
            {% for doc in b.documents.all %}
              <li>
                <a href="{{ doc.archivo.url }}" target="_blank">
                  {{ doc.archivo.name|slice:"-25:" }}  {# muestra el final del nombre #}
                </a>
              </li>
            {% endfor %}
            {% for b in libros %}
<li>
    {{ b.titulo }} — {{ b.autor }}
    <a href="{% url 'book_edit' b.pk %}">Editar</a> |
    <a href="{% url 'book_delete' b.pk %}" onclick="return confirm('¿Seguro que quieres borrar este libro?');">Eliminar</a>
</li>
{% endfor %}

          </ul>
        {% else %}
          <em>(sin archivos)</em>
        {% endif %}
      </li>
    {% empty %}
      <li>No hay libros</li>
    {% endfor %}
  </ul>
{% endblock %}
