{% extends 'libros/base.html' %}

{% block content %}
  <h2>Crear libro / recurso</h2>
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  {{ book_form.as_p }}
  
  <label for="files">Archivos:</label>
  <input type="file" name="files" multiple>
  
  <button type="submit">Guardar</button>
</form>

{% if file_errors %}
  <div class="errors">
    <strong>Errores con archivos:</strong>
    <ul>
      {% for e in file_errors %}
        <li>{{ e }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

  {% if book_form.non_field_errors %}
    <div class="errors">{{ book_form.non_field_errors }}</div>
  {% endif %}
{% endblock %}
