{% extends 'libros/base.html' %}

{% block content %}
  <h2>{{ book.titulo }}</h2>
  <p><strong>Autor:</strong> {{ book.autor }}</p>
  <p><strong>Sinopsis:</strong> {{ book.sinopsis }}</p>

  <h3>Archivos:</h3>
  {% if documentos %}
    <ul>
      {% for doc in documentos %}
        <li>
          <a href="{{ doc.archivo.url }}" target="_blank">
  {{ doc.archivo.name|slice:"-20:" }}  <!-- solo un ejemplo, corta los últimos 20 caracteres -->
</a>

        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay archivos para este libro.</p>
  {% endif %}
{% endblock %}
